<template>
  <v-container v-if="value" class="pt-0 pb-0">
    <v-list-item dense v-on:click="onClick(false)" v-if="value" >
        {{value}}
    </v-list-item>
     <v-list-item dense v-on:click="onClick(true)" v-if="cleansed && (value !== cleansed)">
        {{cleansed}}
    </v-list-item>
  </v-container>
</template>

<script>
export default {
  name: 'ActionItem',
  props: [
    'name',
    'value',
    'selected'
  ],
  data: () => {
    return {
    }
  },
  computed: {
    cleansed () {
      return this.$options.filters.cleanse(this.value)
    }
  },
  methods: {
    onClick (shouldCleanse) {
      let value = this.value
      if (shouldCleanse) {
        value = this.$options.filters.cleanse(value)
      }
      this.$emit('click', { key: this.name, value: value })
    }
  },
  filters: {
    cleanse: (value) => {
      if (!value) return ''
      value = value.toString()

      if (value.indexOf('[') > -1) {
        value = value.substring(0, value.indexOf('['))
      }
      if (value.indexOf('www') > -1) {
        value = value.substring(0, value.indexOf('www'))
      }
      if (value.indexOf('.mp3') > -1) {
        value = value.substring(0, value.indexOf('.mp3'))
      }
      if (value.indexOf('.m4a') > -1) {
        value = value.substring(0, value.indexOf('.m4a'))
      }
      return value.trim()
    }
  }
}
</script>
