<template>
          <v-card>
             <v-list subheader>
              <v-subheader>NAME</v-subheader>
              <v-list-item-group v-model="selected.name" color="primary">
                <template v-for="(item, i) in names">
                  <v-list-item :key="item" title>
                    <v-list-item-title>{{item}}</v-list-item-title>
                  </v-list-item>
                  <v-divider
                    v-if="i < names.length-1"
                    :key="i"
                    inset
                  />
                </template>
              </v-list-item-group>
               <v-subheader>ALBUM</v-subheader>
              <v-list-item-group v-model="selected.album" color="primary">
                <template
                  v-for="(item, i) in albums"
                  :v-if="item">
                <v-list-item :key="item">
                  <v-list-item-content>
                    <v-list-item-title>{{item}}</v-list-item-title>
                  </v-list-item-content>
                </v-list-item>
                <v-divider
                  v-if="i + 1 < albums.length"
                  :key="i"
                  inset
                ></v-divider>
                </template>
              </v-list-item-group>
               <v-subheader>ARTISTS</v-subheader>
              <v-list-item-group v-model="selected.artists" color="primary" multiple>
                <template
                  v-for="(artist, i) in artists"
                  :v-if="artist">
                <v-list-item :key="artist">
                  <v-list-item-content>
                    <v-list-item-title>{{artist}}</v-list-item-title>
                  </v-list-item-content>
                </v-list-item>
                 <v-divider
                  v-if="i + 1 < artists.length"
                  :key="i"
                ></v-divider>
                </template>
              </v-list-item-group>
            </v-list>
      {{selected}}
      <!-- <v-list subheader>
        <v-subheader>Name</v-subheader>
          <Item name="name" :value="item.title" v-on:click="useValue"></Item>
          <Item name="name" :value="item.name" v-on:click="useValue"></Item>
          <Item name="name" v-for="alternate in item.alternateNames" :key="alternate" :value="alternate" v-on:click="useValue"></Item>
        <v-subheader>Artist</v-subheader>
        <Item name="artists" v-for="artist in item.artists" :key="artist" :value="artist" v-on:click="useValue"></Item>
        <v-subheader>Album</v-subheader>
        <Item name="album" :value="item.album" v-on:click="useValue"></Item>
      </v-list> -->
          </v-card>
    <!-- <v-col cols="5">
      <v-list subheader>
        <v-subheader>Name</v-subheader>
        <h2>{{updated.name}}</h2>
        <v-subheader>Artist</v-subheader>
        <h2>{{updated.artists.join(', ')}}</h2>
        <v-subheader>Album</v-subheader>
        <h2>{{updated.album}}</h2>
      </v-list>
    </v-col> -->

    <!-- <v-list>
        <v-list-item></v-list-item>
    </v-list> -->
</template>

<script>
// import ActionItem from './ActionItem'

export default {
  name: 'MusicDetail',
  components: {
    // Item: ActionItem
  },
  props: [
    'item'
  ],
  data: () => {
    return {
      selected: {
        name: '',
        artists: [],
        album: ''
      }
    }
  },
  computed: {
    names: function () {
      return this.uniqueNonEmptyAfterCleanse([
        this.item.title ?? '',
        this.item.displayName ?? '',
        ...(this.item.alternateNames ?? [])
      ])
    },
    albums: function () {
      return this.uniqueNonEmptyAfterCleanse([this.item.album ?? ''])
    },
    artists: function () {
      return this.uniqueNonEmptyAfterCleanse(this.item.artists ?? [])
    }
  },
  methods: {
    useValue (obj) {
      if (obj.key === 'artists') {
        if (this.selected[obj.key].indexOf(obj.value) !== -1) return
        this.selected[obj.key].push(obj.value)
      } else {
        this.selected[obj.key] = obj.value
      }
      console.log(obj)
    },
    uniqueNonEmptyAfterCleanse (arr) {
      if (arr === undefined) return []
      return new Set([
        ...arr,
        ...(arr.map((item) => this.$options.filters.cleanse(item)))
      ].filter((n) => n !== undefined && n.length > 0))
    }
  },
  filters: {
    cleanse: (value) => {
      if (!value) return ''
      value = value.toString()

      if (value.indexOf('[') > -1) {
        value = value.substring(0, value.indexOf('['))
      }
      if (value.indexOf('www') > -1) {
        value = value.substring(0, value.indexOf('www'))
      }
      if (value.indexOf('.mp3') > -1) {
        value = value.substring(0, value.indexOf('.mp3'))
      }
      if (value.indexOf('.m4a') > -1) {
        value = value.substring(0, value.indexOf('.m4a'))
      }
      return value.trim()
    }
  }
}
</script>
