<template>
  <v-container fluid v-on:keyup.37="selectPrevious" v-on:keyup.39="selectNext" v-on:keyup="selectNext">
    <v-row align="center" justify="center">
      <v-col >
        <v-btn icon x-large @click="selectPrevious">
          <v-icon>mdi-chevron-left</v-icon>
        </v-btn>
      </v-col>
      <v-col>
        {{selectedIndex + 1}} / {{items.length}}
      </v-col>
      <v-col>
        <v-btn icon x-large @click="selectNext">
          <v-icon>mdi-chevron-right</v-icon>
        </v-btn>
      </v-col>
    </v-row>
    <v-row>
      <v-col cols="12">
        <ItemDetail v-if="items[selectedIndex]" :item="items[selectedIndex]"></ItemDetail>
      </v-col>
    </v-row>
    <v-row>
      <v-col>
      <v-card class="pa-3">
        <v-data-table
          :headers="headers"
          :items="items"
          :items-per-page="5"
          @click:row="selectItem"
          dense
          >
          <template v-slot:item.durationSeconds="{ item }">
              <span>{{ item.durationSeconds | sToHHMMSS }}</span>
          </template>
        </v-data-table>
      </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import MusicDetail from './MusicDetail'

export default {
  name: 'MusicList',
  components: {
    ItemDetail: MusicDetail
  },
  props: {
    items: {
      type: Array
    }
  },
  data () {
    return {
      headers: [
        {
          text: 'Title',
          align: 'start',
          sortable: false,
          value: 'title'
        },
        {
          text: 'Name',
          align: 'start',
          sortable: false,
          value: 'displayName'
        },
        { text: 'Alternamte Names', value: 'alternateNames' },
        { text: 'Album', value: 'album' },
        { text: 'Artists', value: 'artists' },
        { text: 'Duration', value: 'durationSeconds' }
      ],
      selectedIndex: 0
    }
  },
  filters: {
    sToHHMMSS: (value) => {
      if (!value) return '00:00'
      try {
        value = parseFloat(value)
        if (value.isNaN) return '00:00'
        const s = value % 60
        const m = (value - s) / (60)
        const h = (value - m - s) / (60 * 60)
        const values = []
        if (h >= 1) {
          values.push(h)
        }
        values.push(m)
        values.push(s)
        return values.map((n) => parseInt(n)).map((v) => v.toString().padStart(2, '0')).join(':')
      } catch (e) {
        console.error(e)
        return value
      }
    }
  },
  methods: {
    selectItem (value) {
      this.selectedIndex = this.items.indexOf(value)
    },
    handleKeyPress (event) {
      console.log(event)
      if (event.key === 'ArrowRight' || event.keyCode === 39) {
        this.selectNext()
      } else if (event.key === 'ArrowLeft' || event.keyCode === 37) {
        this.selectPrevious()
      }
    },
    selectPrevious () {
      if (this.selectedIndex > 0) {
        this.selectedIndex--
      }
    },
    selectNext () {
      if (this.selectedIndex < this.items.length - 1) {
        this.selectedIndex++
      }
    }
  },
  computed: {
    padNum: (value) => {
      if (!value) return '00'
      value = parseInt(value)
      value = value.toString()
      return value.padStart(2, '0')
    }
  },
  mounted () {
    this.$options.data.totalItems = this.$options.props.length
    // window.addEventListener('keydown', (event) => {

    // })
  },
  created () {
    window.addEventListener('keyup', this.handleKeyPress)
  },
  destroyed () {
    window.removeEventListener('keyup', this.handleKeyPress)
  }
}
</script>
