<template>
  <v-app>
    <v-app-bar app>
      <v-app-bar-nav-icon app></v-app-bar-nav-icon>
      <v-toolbar-title>Music</v-toolbar-title>
      <v-spacer></v-spacer>
        <v-btn
          text
          link
          large
          elevation="0"
          v-for="item in navItems"
          :key="item.title"
          :to="item.route"
          class="ml-2"
        >
            <v-icon>{{ item.icon }}</v-icon>
            {{ item.title }}
        </v-btn>
    </v-app-bar>
    <v-main>
      <v-container fluid>
        <router-view />
      </v-container>
    </v-main>

    <v-footer app>
      <span class="px-4">&copy; {{ new Date().getFullYear() }}</span>
    </v-footer>
  </v-app>
</template>

<style lang="scss">
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

#nav {
  // padding: 30px;

  a {
    font-weight: bold;
    color: #2c3e50;

    &.router-link-exact-active {
      color: #42b983;
    }
  }
}
</style>

<script>
export default {
  data: () => ({
    navItems: [
      { title: 'Home', icon: 'mdi-home', route: '/' },
      { title: 'Music', icon: 'mdi-music', route: '/music' },
      { title: 'About', icon: 'mdi-information-outline', route: '/about' }
    ]
  })
}
</script>
