<template>
  <!-- <v-container> -->
    <v-row class="text-center">
      <v-col cols="12">
        <p>HomeComponent</p>
      </v-col>
    </v-row>
  <!-- </v-container> -->
</template>

<script>
export default {
  name: 'HomeComponent',
  data: () => ({
    items: ['asd']
  })
}
</script>
