
<template>
    <v-container>
        <h3>Music</h3>
        <List :items="metadata.data" />
    </v-container>
</template>
<script>
import jsonData from '../assets/ipod_music_metadata.json'
import MusicList from '../components/music/MusicList'
export default {
  name: 'Music',
  data: () => {
    return {
      metadata: jsonData
    }
  },
  components: {
    List: MusicList
  }
}
</script>
